.container{
    margin: 0 auto;
    max-width: 1100px;
}


.question_header{
    font-size: 1.5rem;
    font-weight: 400;
    color:rebeccapurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_question{
    font-size:1.75rem;
    font-weight:700;
    text-wrap:wrap;
    line-height: 1.5;
    max-width: 1000px;
}